#sidePanel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5px 15px;
  
  overflow: hidden;
}

.expeditionTextContainer {
  width: 35vw;
  height: 100%;
  margin-left: 5px;

  //scroll-behavior: smooth;
  //scroll-snap-type: y proximity;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.expeditionSection {
  scroll-margin: 7.5px;
  scroll-snap-align: start;

  background-color: white;
  border-radius: 8px;

  box-sizing: border-box;
  min-height: calc(100vh - 15px - 15px); // minus margin + padding
  height: auto;
  margin: 15px;
  padding: 5px 25px;
}

.progressDots > div {
  width: 15px;
  height: 15px;
  margin: 5px 0;

  background-color: white;
  border-radius: 100%;

  transition: all 0.2s;

  &:hover {
    background-color: #eeeeee;
  }

  &.selected {
    background-color: #999999;
  }
}