.expeditionInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 35vw;
  height: auto;
  margin: 15px;
  padding: 15px;

  background-color: white;
  border-radius: 8px;

  //scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {
    visibility: hidden; /////
    background: #888;
    border-radius: 10px;
  }
}

.expeditionSection {
  scroll-margin-top: 30px;
  scroll-snap-align: start;
  height: 100%;
}