.expeditionGroupsContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: max(35vw, 250px);
  height: 100%;

  scroll-behavior: smooth;
  overflow-y: scroll;

  direction: rtl;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }
}

.expeditionGroup {
  direction: ltr;
  cursor: pointer;

  margin: 15px;
  padding: 5px 25px;

  background-color: white;
  border-radius: 8px;
  border: 5px solid gray;
}